
<div class="container">
    <div class="jumbotron">
      <h4>Game of Odd or Even Number</h4>
    </div>
  </div>
  <app-game-controls (numberEvent)="intializeNumber($event)"></app-game-controls>
<div class="container well">
  <div class="row" *ngFor="let number of gameNumber">
   <div class="" *ngIf="number%2 ==0 ;else oddEvent">
     <app-even [evenNumber]="number"></app-even>
   </div>
   <ng-template #oddEvent>
     <div>
       <app-odd [oddNumber]="number"></app-odd>
     </div>
   </ng-template>
  </div>
</div>