<div class="row">
  <div class="col-xs-6">
    <h3>Recipie Name</h3>
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ recipie.name }}</h4>
      <p class="list-group-item-text">{{ recipie.description }}</p>
    </div>
    <span class="pull-right">
      <img
        src="{{ recipie.imagePath }}"
        alt="{{ recipie.name }}"
        class="img-resposive-fix"
        style="max-height: 100px"
      />
    </span>
  </div>
  <div class="col-xs-6">
    <div class="btn-group">
      <button
        type="button"
        data-toggle="dropdown"
        class="btn btn-primary dropdown-toggle"
      >
        Manage Recipie
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipie</a></li>
        <li><a href="#">Delete Recipie</a></li>
      </ul>
    </div>
  </div>
</div>
